%heading
  font-weight: bold
  font-family: 'Inter', sans-serif
  @apply mb-2
.markdown h1
  @extend %heading
  @apply text-3xl md:text-4xl
.markdown h2
  @extend %heading
  @apply text-2xl md:text-3xl
.markdown h3
  @extend %heading
  @apply text-xl md:text-2xl
.markdown h4
  @extend %heading
  @apply text-lg md:text-xl
.markdown h5
  @extend %heading
  @apply text-base md:text-lg
.markdown h6
  @extend %heading
  @apply text-sm md:text-base

.markdown p
  @apply text-base md:text-lg
.markdown a
  text-decoration: white underline
  text-decoration-thickness: 2px